.u-section-1 {background-image: linear-gradient(to bottom, rgba(251, 23, 100, 0.29) 0%,rgb(28 17 47) 100%), url("images/Comp1.gif"); background-position: 50% 50%; min-height: 100vh}
.u-section-1 .u-image-1 {width: 536px; filter: brightness(0.8); height: 574px; margin: 83px auto 0 0}
.u-section-1 .u-text-1 {text-shadow: 2px 18px 27px rgba(31,231,203,1); animation-duration: 1000ms; font-family: Bungee; font-size: 15.625rem; line-height: 0.8; letter-spacing: -27px; background-image: none; font-style: normal; font-weight: normal; margin: -425px calc(((100% - 1140px) / 2) + -20px) 0 calc(((100% - 1140px) / 2))}
.u-section-1 .u-image-2 {width: calc(((100% - 1140px) / 2) + 390px); height: 497px; animation-duration: 1000ms; margin: -31px 0 0 auto}
.u-section-1 .u-group-1 {width: 426px; min-height: 186px; margin: -451px calc(((100% - 1140px) / 2) + 310px) 60px auto}
.u-section-1 .u-container-layout-1 {padding: 0}
.u-section-1 .u-text-2 {font-weight: 700; font-size: 1rem; margin: 40px 36px 0} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {height: 524px}
.u-section-1 .u-text-1 {margin-top: -371px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-2 {width: 570px; margin-top: -67px}
.u-section-1 .u-group-1 {margin-top: -391px; margin-right: auto; margin-left: calc(((100% - 940px) / 2) + 257px)}
.u-section-1 .u-text-2 {margin-top: 39px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {width: calc(((100% - 1140px) / 2) + 696px); margin-top: 73px}
.u-section-1 .u-text-1 {font-size: 12.3125rem; width: auto; margin-top: -385px; margin-right: calc(((100% - 1140px) / 2) + 204px); margin-left: calc(((100% - 1140px) / 2) + 210px)}
.u-section-1 .u-image-2 {margin-top: 34px}
.u-section-1 .u-group-1 {margin-top: -486px; margin-right: calc(((100% - 720px) / 2) + 144px); margin-left: auto} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 440px; height: 383px; margin-top: 78px}
.u-section-1 .u-text-1 {letter-spacing: 2px; font-size: 6rem; margin-top: -24px; margin-left: calc(((100% - 540px) / 2) + -1px); margin-right: calc(((100% - 540px) / 2) + -1px)}
.u-section-1 .u-image-2 {width: 358px; height: 358px; margin-top: 102px}
.u-section-1 .u-group-1 {margin-top: -460px; margin-right: calc(((100% - 540px) / 2) + 50px)} }

@media (max-width: 575px){ .u-section-1 {min-height: 1088px}
.u-section-1 .u-image-1 {height: 235px; width: 278px; margin-top: 242px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin-top: -97px; margin-left: 0; margin-right: 0}
.u-section-1 .u-image-2 {width: 340px; height: 340px; margin-top: 231px}
.u-section-1 .u-group-1 {width: 340px; margin-top: -545px; margin-right: auto}
.u-section-1 .u-text-2 {margin-top: 43px; margin-left: 0; margin-right: 0} }.u-section-2 {margin-top: 0; margin-bottom: 0; background-image: none; min-height: 1041px; background-image: linear-gradient(to bottom, rgb(28 16 46) 0%,rgb(89 19 54) 100%);}
.u-section-2 .u-image-1 {width: 460px; height: 497px; filter: brightness(0.7); margin: 324px auto 0 0}
.u-section-2 .u-image-2 {width: 1270px; height: 720px; filter: brightness(0.85); margin: -487px auto 0 calc(((100% - 1140px) / 2) + 573px)}
.u-section-2 .u-image-3 {width: 1013px; height: 610px; filter: brightness(0.8); margin: -1053px 0 0 auto}
.u-section-2 .u-group-1 {min-height: 541px; width: 650px; box-shadow: 4px 2px 40px 8px rgba(180,72,139,0.6); animation-duration: 1000ms; margin: -433px auto 0 calc(((100% - 1140px) / 2) + -80px)}
.u-section-2 .u-container-layout-1 {padding: 0 30px 0 0}
.u-section-2 .u-text-1 {line-height: 1.8; font-size: 1.5rem; margin: 69px 10px 0 59px}
.u-section-2 .u-group-2 {width: 490px; min-height: 116px; box-shadow: -9px 4px 40px 0 rgba(31,231,203,1); animation-duration: 1000ms; margin: -596px auto 0 calc(((100% - 1140px) / 2) + -116px)}
.u-section-2 .u-container-layout-2 {padding: 3px 0 1px}
.u-section-2 .u-text-2 {font-size: 4.5rem; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-weight: 700; font-family: Bungee; font-style: normal; margin: 0 25px 0 10px}
.u-section-2 .u-btn-1 {border-style: solid; background-image: none; font-weight: 700; margin: 417px auto 60px calc(((100% - 1140px) / 2) + 112px); padding: 21px 37px 22px} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {margin-top: 534px}
.u-section-2 .u-image-2 {width: 593px; height: 375px; margin-top: -356px; margin-right: 0; margin-left: auto}
.u-section-2 .u-image-3 {width: 940px; height: 566px; margin-top: -1048px}
.u-section-2 .u-group-1 {margin-top: -252px; margin-left: calc(((100% - 940px) / 2) + 9px)}
.u-section-2 .u-group-2 {margin-top: -606px; margin-left: calc(((100% - 940px) / 2) + -14px)}
.u-section-2 .u-btn-1 {width: 255px; margin-top: 455px; margin-left: calc(((100% - 940px) / 2) + 206px)} }

@media (max-width: 991px){ .u-section-2 {min-height: 1308px}
.u-section-2 .u-image-1 {margin-top: 742px; margin-right: 0; margin-left: auto}
.u-section-2 .u-image-2 {height: 556px; filter: brightness(0.95); width: 823px; margin-top: -487px; margin-left: -1px; margin-right: -1px}
.u-section-2 .u-image-3 {width: 813px; height: 592px; margin-top: -1306px}
.u-section-2 .u-group-1 {margin-top: -434px; margin-left: calc(((100% - 720px) / 2) + 35px)}
.u-section-2 .u-group-2 {margin-top: -607px; margin-left: calc(((100% - 720px) / 2) + 115px)}
.u-section-2 .u-btn-1 {margin-top: 461px; margin-left: auto} }

@media (max-width: 767px){ .u-section-2 {min-height: 1483px}
.u-section-2 .u-image-1 {width: 482px; margin-top: 776px}
.u-section-2 .u-image-2 {height: 539px; margin-top: -321px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-3 {height: 584px; margin-top: -1490px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-group-1 {min-height: 609px; width: 540px; margin-top: -442px; margin-left: calc(((100% - 540px) / 2))}
.u-section-2 .u-container-layout-1 {padding-right: 10px; padding-bottom: 30px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-group-2 {margin-top: -672px; margin-left: calc(((100% - 540px) / 2) + 25px)}
.u-section-2 .u-btn-1 {margin-top: 506px} }

@media (max-width: 575px){ .u-section-2 {min-height: 1540px}
.u-section-2 .u-image-1 {width: 378px; height: 351px; margin-top: 973px}
.u-section-2 .u-image-2 {height: 388px; margin-top: -175px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 554px; margin-top: -1536px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-1 {min-height: 906px; width: 340px; margin-top: -449px; margin-left: auto}
.u-section-2 .u-container-layout-1 {padding-top: 30px}
.u-section-2 .u-group-2 {width: 340px; margin-top: -928px; margin-left: auto}
.u-section-2 .u-text-2 {font-size: 3rem; margin-left: 0; margin-right: 0}
.u-section-2 .u-btn-1 {
    margin-top: 773px} 
    }.u-section-3 {
        margin-top: 0; 
        margin-bottom: 0; 
        background-image: linear-gradient(0deg, rgb(28 17 47), rgb(88 18 53)), url("images/7855021.gif"); 
        background-position: 50% 50%; min-height: 100vh}
.u-section-3 .u-image-1 {width: 887px; filter: brightness(0.8); right: auto}
.u-section-3 .u-image-2 {width: 1060px; height: 288px; filter: brightness(0.8); margin: 0 auto 0 calc(((100% - 1140px) / 2) + 855px)}
.u-section-3 .u-group-1 {width: 386px; min-height: 133px; animation-duration: 1000ms; box-shadow: -9px 4px 40px 0 rgba(31,231,203,1); background-size: auto; margin: -220px auto 0 calc(((100% - 1140px) / 2) + 377px)}
.u-section-3 .u-container-layout-1 {padding: 0}
.u-section-3 .u-text-1 {font-size: 4.5rem; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-weight: 700; font-family: Bungee; font-style: normal}
.u-section-3 .u-group-2 {min-height: 534px; width: 325px; box-shadow: 4px 2px 40px 9px rgba(180,72,139,0.6); animation-duration: 1000ms; margin: 129px auto 0 calc(((100% - 1140px) / 2) + 408px)}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-group-3 {min-height: 220px; box-shadow: 0 2px 32px 5px rgba(180,72,139,1); width: 288px; background-size: auto; margin: -89px -11px 0}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {width: 123px; height: 128px; margin: 0 auto}
.u-section-3 .u-text-2 {font-weight: 700; font-size: 1.25rem; margin: 40px 0 0}
.u-section-3 .u-text-3 {margin: 23px auto 0 110px}
.u-section-3 .u-text-4 {margin: 9px auto 0}
.u-section-3 .u-text-5 {margin: 8px auto 0}
.u-section-3 .u-text-6 {margin: 9px auto 0}
.u-section-3 .u-text-7 {margin: 8px auto 0}
.u-section-3 .u-text-8 {margin: 8px auto 0}
.u-section-3 .u-text-9 {margin: 7px auto 0}
.u-section-3 .u-text-10 {width: 138px; margin: 7px auto 0}
.u-section-3 .u-text-11 {margin: 8px auto 0}
.u-section-3 .u-group-4 {min-height: 574px; width: 324px; box-shadow: 4px 2px 40px 9px rgba(180,72,139,0.6); animation-duration: 1000ms; margin: -574px auto 0 calc(((100% - 1140px) / 2) + 34px)}
.u-section-3 .u-container-layout-4 {padding: 0}
.u-section-3 .u-group-5 {min-height: 220px; box-shadow: 0 2px 32px 5px rgba(180,72,139,1); width: 288px; margin: -60px auto 0}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-image-4 {width: 123px; height: 128px; margin: 0 auto}
.u-section-3 .u-text-12 {font-weight: 700; font-size: 1.25rem; margin: 38px auto 0}
.u-section-3 .u-text-13 {margin: 0 auto}
.u-section-3 .u-text-14 {font-weight: 700; font-size: 1.25rem; width: 244px; margin: 20px auto 0 41px}
.u-section-3 .u-text-15 {margin: 5px auto 0}
.u-section-3 .u-text-16 {margin: 8px auto 0 96px}
.u-section-3 .u-text-17 {margin: 8px auto 0}
.u-section-3 .u-text-18 {margin: 8px auto 0}
.u-section-3 .u-text-19 {margin: 7px auto 0}
.u-section-3 .u-text-20 {width: 138px; margin: 7px auto 0}
.u-section-3 .u-group-6 {min-height: 574px; width: 325px; box-shadow: 4px 2px 40px 9px rgba(180,72,139,0.6); animation-duration: 1000ms; margin: -574px calc(((100% - 1140px) / 2) + 29px) 60px auto}
.u-section-3 .u-container-layout-6 {padding: 30px}
.u-section-3 .u-group-7 {min-height: 220px; box-shadow: 0 2px 32px 5px rgba(180,72,139,1); width: 288px; background-size: auto; margin: -89px -11px 0}
.u-section-3 .u-container-layout-7 {padding: 30px}
.u-section-3 .u-image-5 {width: 123px; height: 128px; margin: 0 auto}
.u-section-3 .u-text-21 {font-weight: 700; font-size: 1.25rem; margin: 40px 0 0}
.u-section-3 .u-text-22 {margin: 23px auto 0 110px}
.u-section-3 .u-text-23 {margin: 9px auto 0}
.u-section-3 .u-text-24 {margin: 8px auto 0}
.u-section-3 .u-text-25 {margin: 9px auto 0}
.u-section-3 .u-text-26 {margin: 8px auto 0}
.u-section-3 .u-text-27 {margin: 8px auto 0}
.u-section-3 .u-text-28 {margin: 7px auto 0}
.u-section-3 .u-text-29 {width: 138px; margin: 7px auto 0}
.u-section-3 .u-text-30 {margin: 8px auto 0} 

@media (max-width: 1199px){ .u-section-3 .u-image-1 {left: 0}
.u-section-3 .u-image-2 {width: 940px; height: 255px; margin-left: calc(((100% - 940px) / 2))}
.u-section-3 .u-group-1 {margin-top: -187px; margin-left: calc(((100% - 940px) / 2) + 377px)}
.u-section-3 .u-group-2 {min-height: 600px; margin-top: 122px; margin-right: calc(((100% - 940px) / 2) + 303px); margin-left: auto}
.u-section-3 .u-text-3 {width: 45px}
.u-section-3 .u-text-4 {width: 134px}
.u-section-3 .u-text-6 {width: 126px}
.u-section-3 .u-text-7 {width: 72px}
.u-section-3 .u-text-8 {width: 136px}
.u-section-3 .u-text-9 {width: 50px}
.u-section-3 .u-group-4 {min-height: 600px; margin-top: -600px; margin-left: calc(((100% - 940px) / 2) + -35px)}
.u-section-3 .u-group-5 {margin-top: -58px}
.u-section-3 .u-text-12 {width: auto; margin-top: 43px}
.u-section-3 .u-text-13 {width: auto}
.u-section-3 .u-text-14 {margin-top: 73px; margin-right: 39px; margin-left: auto}
.u-section-3 .u-group-6 {min-height: 600px; margin-top: -600px; margin-right: calc(((100% - 940px) / 2) + -40px)}
.u-section-3 .u-text-22 {width: 45px}
.u-section-3 .u-text-23 {width: 134px}
.u-section-3 .u-text-25 {width: 126px}
.u-section-3 .u-text-26 {width: 72px}
.u-section-3 .u-text-27 {width: 136px}
.u-section-3 .u-text-28 {width: 50px} }

@media (max-width: 991px){ .u-section-3 {min-height: 2392px}
.u-section-3 .u-image-1 {filter: brightness(0.7); height: 1187px; width: 779px; left: auto; bottom: auto; right: auto; top: auto; margin: 1205px auto 0 0}
.u-section-3 .u-image-2 {height: 195px; margin-top: -2392px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-group-1 {margin-top: -127px; margin-left: calc(((100% - 720px) / 2) + 334px)}
.u-section-3 .u-group-2 {margin-top: 1557px; margin-right: auto}
.u-section-3 .u-group-3 {width: 265px; margin-left: 0; margin-right: 0}
.u-section-3 .u-group-4 {margin-top: -2010px; margin-left: calc(((100% - 720px) / 2) + 198px)}
.u-section-3 .u-group-6 {margin-top: 105px; margin-right: auto; margin-left: calc(((100% - 720px) / 2) + 198px)}
.u-section-3 .u-group-7 {width: 265px; margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-3 {min-height: 2474px}
.u-section-3 .u-image-1 {height: 893px; margin-top: 1581px; width: 540px}
.u-section-3 .u-image-2 {height: 146px; margin-top: -2480px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-group-1 {margin-top: -78px; margin-left: calc(((100% - 540px) / 2) + 154px)}
.u-section-3 .u-group-2 {margin-top: 1593px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-group-3 {margin-left: auto; margin-right: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-2 {margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-3 {margin-left: 127px}
.u-section-3 .u-group-4 {margin-top: -2054px; margin-left: calc(((100% - 540px) / 2) + 108px)}
.u-section-3 .u-container-layout-5 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-group-6 {margin-top: 127px; margin-left: auto}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-group-7 {margin-left: auto; margin-right: auto}
.u-section-3 .u-container-layout-7 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-21 {margin-left: 16px; margin-right: 16px}
.u-section-3 .u-text-22 {margin-left: 127px} }

@media (max-width: 575px){ .u-section-3 {min-height: 2429px}
.u-section-3 .u-image-1 {height: 676px; margin-top: 1762px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-2 {height: 263px; margin-top: -2444px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-group-1 {width: 340px; margin-top: -195px; margin-left: auto}
.u-section-3 .u-text-1 {font-size: 3rem; background-size: auto; margin: 0}
.u-section-3 .u-group-2 {width: 333px; margin-right: calc(((100% - 340px) / 2))}
.u-section-3 .u-group-3 {width: 288px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-3 {margin-left: 135px}
.u-section-3 .u-group-4 {width: 340px; margin-left: auto}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-14 {margin-left: 41px; margin-right: 41px}
.u-section-3 .u-text-16 {margin-left: 104px}
.u-section-3 .u-group-6 {width: 340px}
.u-section-3 .u-group-7 {width: 288px; margin-right: 17px}
.u-section-3 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-22 {margin-left: 142px} }.u-block-4877-1 {background-image: none; margin-top: 0; margin-bottom: 124px}
.u-block-4877-4 {position: absolute; width: 80px; height: 10px; top: auto; bottom: 31px}
.u-block-4877-3 {position: absolute; left: 0; width: 110px; height: 110px; margin-top: 0; margin-bottom: 0}
.u-block-4877-5 {position: absolute; width: 110px; height: 110px; left: auto; right: 0}.u-section-4-1 {background-image: none}
.u-section-4-1 .u-sheet-1 {min-height: 734px}
.u-section-4-1 .u-layout-wrap-1 {pointer-events: auto; margin: 72px auto 0 0}
.u-section-4-1 .u-image-1 {min-height: 600px; pointer-events: auto; animation-duration: 1000ms; background-image: url("images/caps13.png")}
.u-section-4-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-4-1 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-4-1 .u-container-layout-2 {padding: 30px 60px}
.u-section-4-1 .u-text-1 {font-weight: 700; font-size: 0.875rem; background-size: auto; margin: 0 auto}
.u-section-4-1 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-family: Bungee; font-style: normal; background-size: auto; margin: 20px 0 0}
.u-section-4-1 .u-text-3 {margin: 20px 0 0}
.u-section-4-1 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 800; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-4-1 .u-sheet-1 {min-height: 629px}
.u-section-4-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-1 .u-image-1 {min-height: 495px; background-position: 50% 50%}
.u-section-4-1 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-4-1 .u-sheet-1 {min-height: 667px}
.u-section-4-1 .u-image-1 {min-height: 379px}
.u-section-4-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4-1 .u-layout-cell-2 {min-height: 100px}
.u-section-4-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4-1 .u-text-2 {font-size: 2.25rem} }

@media (max-width: 767px){ .u-section-4-1 .u-sheet-1 {min-height: 994px}
.u-section-4-1 .u-image-1 {min-height: 569px}
.u-section-4-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-1 .u-text-2 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-4-1 .u-sheet-1 {min-height: 781px}
.u-section-4-1 .u-layout-wrap-1 {margin-top: 36px; margin-bottom: 36px; margin-right: initial; margin-left: initial}
.u-section-4-1 .u-image-1 {min-height: 358px} }.u-section-4-2 {background-image: none}
.u-section-4-2 .u-sheet-1 {min-height: 734px}
.u-section-4-2 .u-layout-wrap-1 {pointer-events: auto; margin: 72px auto 0 0}
.u-section-4-2 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/cap2.png"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-4-2 .u-container-layout-1 {padding: 30px 60px}
.u-section-4-2 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-4-2 .u-container-layout-2 {padding: 30px 60px}
.u-section-4-2 .u-text-1 {font-weight: 700; font-size: 0.875rem; background-size: auto; margin: 0 auto}
.u-section-4-2 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-family: Bungee; font-style: normal; background-size: auto; margin: 20px 0 0}
.u-section-4-2 .u-text-3 {margin: 20px 0 0}
.u-section-4-2 .u-btn-1 {border-style: none none solid; text-transform: uppercase; font-weight: 800; background-size: auto; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-4-2 .u-sheet-1 {min-height: 629px}
.u-section-4-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-2 .u-image-1 {min-height: 495px}
.u-section-4-2 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-4-2 .u-sheet-1 {min-height: 667px}
.u-section-4-2 .u-image-1 {min-height: 379px}
.u-section-4-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4-2 .u-layout-cell-2 {min-height: 100px}
.u-section-4-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4-2 .u-text-2 {font-size: 2.25rem} }

@media (max-width: 767px){ .u-section-4-2 .u-sheet-1 {min-height: 994px}
.u-section-4-2 .u-image-1 {min-height: 569px}
.u-section-4-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-2 .u-text-2 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-4-2 .u-sheet-1 {min-height: 781px}
.u-section-4-2 .u-layout-wrap-1 {margin-top: 36px; margin-bottom: 36px; margin-right: initial; margin-left: initial}
.u-section-4-2 .u-image-1 {min-height: 358px} }.u-section-4-3 {background-image: none}
.u-section-4-3 .u-sheet-1 {min-height: 734px}
.u-section-4-3 .u-layout-wrap-1 {pointer-events: auto; margin: 72px auto 0 0}
.u-section-4-3 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/caps3.jpg"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-4-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-4-3 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-4-3 .u-container-layout-2 {padding: 30px 60px}
.u-section-4-3 .u-text-1 {font-weight: 700; font-size: 0.875rem; background-size: auto; margin: 0 auto}
.u-section-4-3 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-family: Bungee; font-style: normal; background-size: auto; margin: 20px 0 0}
.u-section-4-3 .u-text-3 {margin: 20px 0 0}
.u-section-4-3 .u-btn-1 {border-style: none none solid; text-transform: uppercase; font-weight: 800; background-size: auto; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-4-3 .u-sheet-1 {min-height: 629px}
.u-section-4-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-3 .u-image-1 {min-height: 495px}
.u-section-4-3 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-4-3 .u-sheet-1 {min-height: 667px}
.u-section-4-3 .u-image-1 {min-height: 379px}
.u-section-4-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4-3 .u-layout-cell-2 {min-height: 100px}
.u-section-4-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4-3 .u-text-2 {font-size: 2.25rem} }

@media (max-width: 767px){ .u-section-4-3 .u-sheet-1 {min-height: 994px}
.u-section-4-3 .u-image-1 {min-height: 569px}
.u-section-4-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-3 .u-text-2 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-4-3 .u-sheet-1 {min-height: 781px}
.u-section-4-3 .u-layout-wrap-1 {margin-top: 36px; margin-bottom: 36px; margin-right: initial; margin-left: initial}
.u-section-4-3 .u-image-1 {min-height: 358px}
.u-section-4-3 .u-text-1 {font-size: 0.75rem} }.u-section-4-4 {background-image: none}
.u-section-4-4 .u-sheet-1 {min-height: 734px}
.u-section-4-4 .u-layout-wrap-1 {pointer-events: auto; margin: 72px auto 0 0}
.u-section-4-4 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/dingdong.png"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-4-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4-4 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-4-4 .u-container-layout-2 {padding: 30px 60px}
.u-section-4-4 .u-text-1 {font-weight: 700; font-size: 0.875rem; background-size: auto; margin: 0 auto}
.u-section-4-4 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-family: Bungee; font-style: normal; background-size: auto; margin: 20px 0 0}
.u-section-4-4 .u-text-3 {margin: 20px 0 0}
.u-section-4-4 .u-btn-1 {border-style: none none solid; text-transform: uppercase; font-weight: 800; background-size: auto; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-4-4 .u-sheet-1 {min-height: 629px}
.u-section-4-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-4 .u-image-1 {min-height: 495px}
.u-section-4-4 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-4-4 .u-sheet-1 {min-height: 667px}
.u-section-4-4 .u-image-1 {min-height: 379px}
.u-section-4-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4-4 .u-text-2 {font-size: 2.25rem} }

@media (max-width: 767px){ .u-section-4-4 .u-sheet-1 {min-height: 994px}
.u-section-4-4 .u-image-1 {min-height: 569px}
.u-section-4-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-4 .u-text-2 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-4-4 .u-sheet-1 {min-height: 781px}
.u-section-4-4 .u-layout-wrap-1 {margin-top: 36px; margin-bottom: 36px; margin-right: initial; margin-left: initial}
.u-section-4-4 .u-image-1 {min-height: 358px} }.u-section-4-5 {background-image: none}
.u-section-4-5 .u-sheet-1 {min-height: 734px}
.u-section-4-5 .u-layout-wrap-1 {pointer-events: auto; margin: 72px auto 0 0}
.u-section-4-5 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/happify.png"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-4-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-4-5 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-4-5 .u-container-layout-2 {padding: 30px 60px}
.u-section-4-5 .u-text-1 {font-weight: 700; font-size: 0.875rem; background-size: auto; margin: 0 auto}
.u-section-4-5 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-family: Bungee; font-style: normal; background-size: auto; margin: 20px 0 0}
.u-section-4-5 .u-text-3 {margin: 20px 0 0}
.u-section-4-5 .u-btn-1 {border-style: none none solid; text-transform: uppercase; font-weight: 800; background-size: auto; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-4-5 .u-sheet-1 {min-height: 629px}
.u-section-4-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4-5 .u-image-1 {min-height: 495px}
.u-section-4-5 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-4-5 .u-sheet-1 {min-height: 667px}
.u-section-4-5 .u-image-1 {min-height: 379px}
.u-section-4-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4-5 .u-layout-cell-2 {min-height: 100px}
.u-section-4-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4-5 .u-text-2 {font-size: 2.25rem} }

@media (max-width: 767px){ .u-section-4-5 .u-sheet-1 {min-height: 994px}
.u-section-4-5 .u-image-1 {min-height: 569px}
.u-section-4-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4-5 .u-text-2 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-4-5 .u-sheet-1 {min-height: 781px}
.u-section-4-5 .u-layout-wrap-1 {margin-top: 36px; margin-bottom: 36px; margin-right: initial; margin-left: initial}
.u-section-4-5 .u-image-1 {min-height: 358px} }.u-section-5 {background-image: none; margin-top: 0; margin-bottom: 124px; min-height: 1025px}
.u-section-5 .u-group-1 {width: 1046px; min-height: 507px; height: auto; box-shadow: 3px -1px 31px 9px rgba(180,72,139,1); animation-duration: 1000ms; margin: 194px calc(((100% - 1140px) / 2) + 38px) 0 auto}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-image-1 {height: 1228px; margin: -725px auto 0 0}
.u-section-5 .u-layout-wrap-1 {width: 940px; margin: -1001px calc(((100% - 1140px) / 2) + 82px) 60px auto}
.u-section-5 .u-layout-cell-1 {min-height: 568px}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 3.75rem; text-transform: none; text-shadow: -13px 11px 8px rgba(31,231,203,1); font-family: Bungee; font-style: normal; background-size: auto; animation-duration: 1000ms; margin: 70px auto 0 0}
.u-section-5 .u-text-2 {letter-spacing: 2px; background-image: none; font-weight: normal; margin: 2px -18px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 568px}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-form-1 {margin: 26px 0 0}
.u-section-5 .u-label-1 {font-weight: 700; text-transform: none}
.u-section-5 .u-label-2 {font-weight: 700; text-transform: none}
.u-section-5 .u-label-3 {font-weight: 700; text-transform: none}
.u-section-5 .u-btn-1 {background-image: none; border-style: solid; font-weight: 700} 

@media (max-width: 1199px){ .u-section-5 {min-height: 772px}
.u-section-5 .u-group-1 {width: 940px; margin-right: calc(((100% - 940px) / 2))}
.u-section-5 .u-image-1 {height: 975px; margin-top: -767px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-wrap-1 {margin-top: -707px; margin-right: auto}
.u-section-5 .u-layout-cell-1 {min-height: 468px}
.u-section-5 .u-text-2 {font-weight: 700}
.u-section-5 .u-layout-cell-2 {min-height: 468px}
.u-section-5 .u-label-1 {text-transform: uppercase}
.u-section-5 .u-label-2 {text-transform: uppercase}
.u-section-5 .u-label-3 {text-transform: uppercase} }

@media (max-width: 991px){ .u-section-5 {min-height: 599px}
.u-section-5 .u-group-1 {width: 720px; margin-right: calc(((100% - 720px) / 2))}
.u-section-5 .u-image-1 {height: 792px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-wrap-1 {width: 720px; margin-top: -524px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-text-2 {margin-right: 0}
.u-section-5 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-5 {min-height: 880px}
.u-section-5 .u-group-1 {width: 540px; min-height: 715px; margin-right: auto}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {height: 1003px; margin-top: -929px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-wrap-1 {width: 540px; margin-top: -781px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {font-size: 3rem}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 {min-height: 1059px}
.u-section-5 .u-group-1 {width: 340px; min-height: 866px; margin-top: 163px}
.u-section-5 .u-image-1 {height: 999px; margin-top: -771px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-wrap-1 {width: 340px; margin-top: -1161px; margin-bottom: 0}
.u-section-5 .u-text-1 {font-size: 3.75rem}
.u-section-5 .u-form-group-1 {width: 100%}
.u-section-5 .u-form-group-2 {width: 100%}
.u-section-5 .u-form-group-3 {width: 100%}
.u-section-5 .u-form-group-4 {width: 100%} }